.top-heading-number {
    @apply relative;
    @apply flex;
    @apply items-center;
    @apply w-full;
    @apply mt-[10px];
    @apply mb-[40px];
    @apply font-mono;
    @apply font-semibold;
    font-size: clamp(26px, 5vw, 32px);
}

.top-heading-number::before {
    @apply relative;
    @apply mr-[10px];
    @apply text-text-green;
    @apply bottom-[-4px];
    content: "0" "1" ".";
    font-size: clamp(15px, 3vw, 20px);
    @apply font-[400];
}

.top-heading-number::after {
    @apply relative;
    @apply top-[4px];
    @apply bg-[#233554];
    @apply ml-[20px];
    content: "";
    @apply block;
    @apply w-[300px];
    @apply h-[1px];
}

h1 {
    @apply text-text-1;
}

.inner {
    @apply grid;
    @apply grid-cols-[3fr,2fr];
    @apply gap-[50px];
}

.about-inner-section {
    @apply text-text-sub;
    @apply font-sans;
    @apply text-[18px];
    @apply leading-[1.3];
}

.about-inner-section>div>p {
    @apply mb-[15px];
}

.about-inner-second-section {
    @apply relative;
    @apply max-w-[300px];
}

.wrapper-image {
    @apply bg-text-green;
    @apply block;
    @apply relative;
    @apply w-full;
    @apply rounded-[4px];
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper-image .img {
    @apply relative;
    @apply rounded-[4px];
    filter: grayscale(100%) contrast(1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

}